body {
    background-color: #c73d25;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}
.logo img {
    width: 130px;
    margin-top: 10px;
}
nav ul {
    list-style-type: none;
    display: flex;
}
nav ul li {
    margin-right: 25px;
    padding: 11px 9px;
}
nav ul li:hover {
    background-color: burlywood;
    border-radius: 15px;
    color: coral;
}
nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    /*border: 3px solid white;
    border-radius: 4px;
    box-shadow: 4px 3px 3px white;
    */
}
nav ul li a:hover {
    color: #c73d25;
    text-decoration-line: underline;
    text-underline-offset: 8px;
    text-decoration-color: #c73d25;
}
#hero img{
    width: 100%;
}
#about {
    background-image: url(Asset/Euy.jpg)
    background-position: right;
    background-attachment: flex;
    background-repeat: no-repeat;
    background-size: contain;
    height: 75vh;
    padding: 40px;
    background-color: #f0f1f7;
}
#about span {
    text-decoration: solid;
    text-decoration: underline;
}
#about h2 {
  margin-top: 50px;
  width: 50%;
  padding-left: 40px;
}
#about p {
  width: 50%;
  padding-left: 40px;
  line-height: 1.7em;
}
#product {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    margin: auto;
  }
  #product h2 {
    text-align: center;
    color: #344CB7;
  }
  
  
  .card-product {
    width: 95%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  
  .card button:hover {
    opacity: 0.7;
  }
  footer {
    text-align: center;
    background-color: #c73d25;
    color: #fdfff5;
    padding: 2px;


  }
  footer span{
    font-weight: bold;
  }
